@model User
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<form asp-action="Add" asp-controller="User" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <label asp-for="Type">Select User Type:</label>
    <select asp-for="Type" class="form-control">
        <option value="Client">Client</option>
        <option value="Seller">Seller</option>
    </select>
    <input type="submit" class="btn btn-outline-primary" value="Submit" />

</form>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}