@model Product

<div class="card-container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="~/Images/@Model.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="Name ">Name: @Model.Name</h5>
                <p class="card-text">Qunatity: @Model.Quantity</p>
                <p class="card-text">Price: @Model.Price</p>
                <p class="card-text">Id: @Model.Id</p>
            </div>
        </div>
    </div>
</div>


