@model Product

@{
    ViewData["Title"] = "New";
    SelectList sellersOption = new SelectList(ViewBag.sellers, "Id", "Name");
}

<h1>New</h1>

<form asp-action="New" asp-controller="Product" method="post">
    <partial name="_NewAndEditParView" model="Model" />
    <input type="submit" class="btn btn-outline-primary" value="Submit" />
</form>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

